* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
.main {
  height: 100%;
  width: 100%;
}
.sec1 {
  width: 100%;
}
.nav {
  width: 100%;
  height: 80px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: darkcyan; */
}

.nav-left > h2 {
  font-size: 30px;
  font-weight: 500;
  font-family: "Exo", sans-serif;
  position: relative;
}
.nav-left > h2::before {
  content: "";
  background-image: url(assest/favicon-32x32.png);
  position: absolute;
  width: 22px;
  height: 20px;
  left: -21px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}
.nav-right a {
  text-decoration: none;
}

.aicon1,
.aicon2,
.aicon3 {
  overflow: hidden;
  height: 30px;
  width: 130px;
  /* background-color: #e81010; */
  display: flex;
  align-items: center;

  flex-wrap: nowrap;
}
.aicon1,
.aicon2 {
  gap: 15px;
}

.aicon3 {
  gap: 10px;
}

.aicon1 > h3,
.aicon2 > h3,
.aicon3 > h3 {
  color: black;
  font-family: "Biryani", sans-serif;
  font-size: 15px;
  margin-left: 10px;
}

.aicon1 i {
  color: #c07f00;
  transform: translateX(100px);
  font-size: 20px;
  transition: transform 0.2s ease-in-out;
}
.aicon1:hover i {
  transform: translateX(0px);
}

.aicon1:hover {
  border: 1px solid #c07f00;
  border-radius: 50px;
}
.aicon2 i {
  color: #c07f00;
  font-size: 20px;
  transform: translateX(100px);
  transition: transform 0.2s ease-in-out;
}
.aicon2:hover i {
  transform: translateX(0px);
}

.aicon2:hover {
  border: 1px solid #c07f00;
  border-radius: 50px;
}
.aicon3 i {
  font-size: 20px;
  color: #c07f00;
  transform: translateX(100px);
  transition: transform 0.2s ease-in-out;
}
.aicon3:hover i {
  transform: translateX(0px);
}

.aicon3:hover {
  border: 1px solid #c07f00;
  border-radius: 50px;
}
/*####### NAME ####### */
.name {
  padding-top: 80px;
  padding-left: 30px;
  padding-bottom: 40px;
  width: 70%;
  line-height: 150px;
}
.name .line {
  width: 900px;
  height: 4px;
  background-color: #33333332;
}

.name > h1 {
  font-size: 180px;
  font-family: "Exo", sans-serif;
  letter-spacing: 15px;
}
.role {
  display: flex;
  justify-content: flex-end;
}
.desig {
  width: 40%;
  text-align: center;
  padding: 10px 30px;
}
.desig h3 {
  padding: 10px 0;
  border-bottom: 2px solid #33333332;
  font-family: "Biryani", sans-serif;
  letter-spacing: 3px;
}
.desig p {
  padding-top: 10px;
  font-family: "Della Respira", serif;
}
.sec1-btn {
  display: flex;
  align-content: center;
  justify-content: center;
}
.sec1-btn i {
  font-size: 25px;
  cursor: pointer;
  margin-top: 70px;
}
/* #################  SECTION 2 ################# */

.sec2 {
  margin: 7% 0%;
  padding: 10px 10px;
  width: 100%;
  height: 80vh;
  display: flex;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.sec2-left {
  padding: 150px 50px;
  width: 45%;
}
.sec2-left h1 {
  font-size: 60px;
  font-family: "Biryani", sans-serif;
}
.sec2-left p {
  font-size: 18px;
  margin: 30px 0;
  font-family: "Della Respira", serif;
  color: #f8f8ffad;
}
.sec2-left .sec2-btn {
  padding: 10px 30px;
  background-color: #ffb803;
  color: rgba(0, 0, 0, 0.811);
  border: none;
  border-radius: 7px;
  font-size: 16px;
  /* font-family: "Biryani", sans-serif; */
  font-family: "Exo", sans-serif;
}
.sec2-right {
  display: flex;
  width: 55%;
  justify-content: space-evenly;
}

#sqr1 {
  overflow-y: hidden;
  display: inline-block;
  white-space: nowrap;
}

#sqr1::-webkit-scrollbar {
  display: none;
}

.sq-box {
  height: 200px;
  width: 250px;
  animation-name: scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.sq-box > img {
  object-fit: cover;
  width: 98%;
  height: 95%;
}

#sqr2 {
  overflow-y: hidden;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.sq2-box > img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 85%;
}
.sq2-box {
  position: relative;
  height: 150px;
  margin-bottom: 5px;
  width: 250px;
  animation-name: scroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#sqr2::-webkit-scrollbar {
  display: none;
}

/* #sqr3 {
  overflow-y: hidden;
  background-color: #cbfffc;
  display: inline-block;
  white-space: nowrap;
}
.sq3-box {
  height: 200px;
  margin: 5px;
  width: 250px;
  animation-name: scrollThree;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
#sqr3::-webkit-scrollbar {
  display: none;
}
@keyframes scrollThree {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - 4px));
  }
} */

.sec3 {
  padding: 50px 90px;
  width: 100%;
  height: 40vh;
  display: flex;
}
.sec3-left {
  width: 50%;
}
.sec3-left > h1 {
  font-size: 70px;
  font-family: "Exo", sans-serif;
}
.sec3-left > p {
  font-family: "Biryani", sans-serif;
  font-size: 15px;
}
.sec3-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.sec3-right > a {
  font-size: 60px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
